header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

nav{
     padding:20px;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    color: var(--darkmode-text);
    text-decoration: none;
    font-weight: medium;
    font-size:18px;

}

.logo{
    align-self: center;
    width: 169px;
    height: 28px;
    
}

:popover-open { 
	border: none;
    height: 100%;
	width: 50%;
	position: fixed;
    margin-right: 0px;
}

button {
   border:none;
   background-color:transparent;
   cursor: pointer;   
}



main {
    text-align: center;
}

footer{
    background-color: var(--primary-color-dark);
    width: 100%;
    padding-bottom: 300px;
    text-align: center;
}

footer ul{
    padding-top: 70px;
}

footer ul li{
    list-style: none;
}

footer a{
    color: var(--darkmode-text);
    text-decoration: none;
}




.contact {
    display: flex;
    width: 50px;
    height:43px;
    position: relative;
    margin: 0 auto;
}

#reminder-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.reminder {
    display: flex;
    width: 423px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.info-icon {
    color: var(--darkmode-text);
    size: 1em;
    padding: 0;
    border: none;
    background: none;
}

.date{
    color: var(--darkmode-text);
    border: 4px solid  hsl(40, 100%, 80%);
    border-radius: 30px;
    display: flex;
    flex: content;
    align-items: center;
    margin-bottom: 20px;
    width: 80%;
    height: 110px;
    background-color:  hsl(40, 100%, 80%);
    margin-top: 10px;     
    text-align: center;
    padding: 5px;
}

.thema, .profielen, .nieuws {
    width: 300px;
    height: auto;
}

.bar{
    background-color: var(--primary-color-dark);
    width: 100%;
    padding-top: 50px;
    
}

.knop{
    text-decoration:none;
    border: 1px solid #0030B3;
    border-radius: 4px;
    background-color: #0030B3;
    padding: 10px 10px;
    width: 170px;
    display: inline-block;
    text-align: center;
}

.hogescholen{
    display: block;
    text-align: center;
    padding: 0;
}

.team{
    width: 60%;
}

.scholen{
    background-color: hsl(0, 0%, 100%);
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
}

.scholenfotos{
    width: 169px;
    height: 60px;
}

.pijl {
    width: 50px;
    height: 50px;
}

.info{
    color: var(--lightmode-text);
    border: 4px solid var(--primary-color-dark);
    border-radius: 50px;
    display: block;
    justify-content: center;
    margin-bottom: 70px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--primary-color-dark);
    margin-top: 70px;   
    text-align: center;
    padding: 1em;
}

.ad-uitleg {
  text-align:center;
  border-radius: 50px;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 50px;
  color: var(--lightmode-text);
  background-color: var(--primary-color-dark);
}

.leesmeer-lightmode{
  color: var(--darkmode-text);
}

form {
  text-align: center;
  padding:50px;
}
