nav{
     padding:20px;
     display: flex;
     flex-wrap: wrap;
}

.nav-items {
  text-align: center;
  padding: 10px;
  gap: 20px;
  flex: 20%;
}

nav a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size:22px;
}

main {
    text-align: center;
}

footer{
    background-color: #004647;
    width: 100%;
    padding-bottom: 300px;
    text-align: center;
}

footer a{
    color: white;
    text-decoration: none;
}

.logo{
    display: flex;
    width: 169px;
    height: 28px;
    position: relative;
    
}

.logo1 {
    width: 168px;
    height: 28px;
}

.contact {
    display: flex;
    width: 50px;
    height:43px;
    position: relative;
    margin: 0 auto;
}

#reminder-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.reminder {
    display: inline-flex;
    width: 423px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.info-icon {
    color: #000000;
    size: 1em;
    padding: 0;
    border: none;
    background: none;
}

.date{
    color: #000000;
    border: 4px solid  hsl(40, 100%, 80%);
    border-radius: 30px;
    display: flex;
    flex: content;
    margin-bottom: 20px;
    width: 80%;
    background-color:  hsl(40, 100%, 80%);
    margin-top: 10px;   
    text-align: center;
    padding: 5px;
}

.thema, .profielen, .nieuws {
    width: 300px;
    height: auto;
}

.bar{
    background-color: hsl(140, 37%, 28%);
    width: 100%;
    padding-top: 50px;
    
}

.knop{
    color: white;
    text-decoration:none;
    border: 1px solid #0030B3;
    border-radius: 4px;
    background-color: #0030B3;
    padding: 10px 10px;
    width: 170px;
    display: inline-block;
    text-align: center;
}

.hogescholen{
    display: block;
    text-align: center;
    padding: 0;
}

.team{
    width: 60%;
}

.scholen{
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
}

.scholenfotos{
    width: 169px;
    height: 60px;
}

.pijl {
    width: 50px;
    height: 50px;
}

.info{
    border: 4px solid #a9fff6;
    border-radius: 50px;
    display: block;
    justify-content: center;
    margin-bottom: 70px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: #a9fff6;
    margin-top: 70px;   
    text-align: center;
    padding: 1em;
}

.ad-uitleg {
  text-align:center;
  border-radius: 50px;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 50px;
  color: #ffffff;
  background-color: hsl(140, 37%, 28%);
}