header {
    position: relative;        /* zorgt ervoor dat die menu in de header blijft */
    height: 80px;              /* Vaste hoogte */
    display: flex;
    justify-content: center;   /* Logo centreren */
    align-items: center;
}

/* Logo blijft in het midden */
.logo {
    width: 250px;
    height: 141px;
    display: block;
    margin: 0 auto;
}

/* Hamburger menu naar rechts */
header button {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%); /* Centreert op de y-as binnen de header */
    background: none;
    border: none;
    cursor: pointer;
}

/* Navigatie menu niet zichtbaar*/
.navigatie-desktop{   
    display:none;
    list-style: none;
}

/* Stijl van de text mooi maken */
.navigatie-desktop li a {
    color: var(--lightmode-text);
    text-decoration: none;
}

/* Nav popover krijgt geen positie in de header */
nav {
    padding: 20px;
}

nav ul li {
    list-style: none;
}

/* stijl voor content in de hamburger menu */
nav ul li a {
    color: var(--lightmode-text);
    text-decoration: none;
    font-weight: medium;
    font-size: 18px;
}

.close-menu {
    margin-left: 0px;
}

/* button netter */
button {
   border:none;
   background-color:transparent;
   cursor: pointer;   
}


:popover-open { 
	border: none;  /* zwarte default border weg */
    height: 100%;
	width: 50%;   /* popover is 50% van de width op website */
	position: fixed;
    margin-right: 0px; /* komt rechts */
}

footer{
    background-color: var(--primary-color-dark);
    width: 100%;
    padding-bottom: 300px;
    text-align: center;
}

footer ul{
    padding-top: 70px;
}

footer ul li{
    list-style: none;
}

footer a{
    color: var(--darkmode-text);
    text-decoration: none;
}


@media (min-width: 600px) {
    header {
        justify-content: flex-start; /* logo links */
    }

    .logo {
        margin: 0; /* voorkomt centreren */
    }

    /* Hamburger menu blijft rechts */
    header button {
        right: 20px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

    
    }

    /* Hamburger verbergen */
    .hamburgertje {
        display: none;
    }

    /* Navigatie menu zichtbaar */
    .navigatie-desktop {
        display: flex;
        width: 1300px;
        gap: 333px;       
        justify-content: flex-end;
    }

}
